# Zadig preset device config for USBasp
# Load via:  Device menu -> Load Preset Device
# This pre-fills the device fields so you don't have to type anything.
# Reference: https://github.com/pbatard/libwdi/wiki/Zadig

[device]
  Description = "USBasp"
  VID = 0x16C0
  PID = 0x05DC
